@font-face {
  font-family: "Roboto";
  src: url(./assets/Roboto-Regular.ttf);
}

body {
  background-image: url(./assets/background.png);
}

#root {
  color: red;
  font-size: 8rem;
  text-align: center;
  font-family: "Roboto";
}
