@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./assets/Roboto-Regular.ttf");
}

body {
  background-image: url("./assets/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.title {
  font-family: Roboto;
  font-size: 36px;
  color: white;
}

.title > svg {
  height: 30px;
}
